#room {
  background: radial-gradient(ellipse farthest-corner at top left, $bgcolor1 10%, $bgcolor2), linear-gradient(#00000088, #00000033), asset-url('bg_codewars_3.jpg');
  background-size: cover;
  padding: 1em;
  height: 100vh;
}
