#super-container {
  // #room {
  &:before {
    content: " ";
    width: 100vw;
    height: 100vh;
    position: fixed;
    margin: -1em;
    transform: scale(1.2);
    filter: blur(1px);
  }

  &.loading:before {
    transform: initial;
  }
}