// Colors
$prussianblue: #086788;
$darkblue: #1B4353;
$skyblue: #DBE9EE;
$teal: #00D7C0;
$yellow: #F6DD27;
$magenta: #DB1271;
$orange: #FE864E;
$purple: #8A4BFF;
$red: #FC0307;
$blue: #167FFB;
$yellow: #F6DD27;
$orange: #FE864E;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


$maincolor-normal: lighten($darkblue, 25%);
$maincolor-brink-of-war: lighten($orange, 5%);
$maincolor-at-war: lighten($red, 15%);


$bg-image: 'bg_warriors_2.jpg';
$bg-image-normal: 'bg_codewars_4.jpg';
$bg-image-brink-of-war: 'bg_codewars_4.jpg';
$bg-image-at-war: 'bg_codewars_3.jpg';


$maincolor: $maincolor-normal;

$textcolor: lighten( $maincolor, 40% );
$link-color: lighten( $maincolor, 10% );
$body-color: $textcolor;
$highlight: lighten($maincolor, 40%);
$headers-color: $highlight;
$widget-color: $maincolor;
$bezel-color: saturate( $widget-color, 50% );
$input-color: $maincolor;
$bgcolor1: rgba( desaturate(lighten($maincolor, 15%), 10%), .5 );
$bgcolor2: rgba( lighten($maincolor, 10%), .25 );
$username-invited: $yellow;
$username-ineligible: rgba($textcolor, 0.5);
$username-confirmed: $highlight;

$primary:    $blue;
$success:    $green;
$info:       $yellow;
$danger:     $red;
$warning:    $orange;
