// Colors
$darkblue: #1B4353;
$yellow: #F6DD27;
$orange: #FE864E;
$red: rgb(252, 20, 3);
$blue: #167FFB;
$green: #1EDD88;
$peace: #02B997;
$brink-of-war: #6C6640;
// $prussianblue: #086788;
// $skyblue: #DBE9EE;
// $teal: #00D7C0;
// $magenta: #DB1271;
// $purple: #8A4BFF;
// $gray: #0E0000;
// $light-gray: #F4F4F4;


$maincolor-normal: lighten($darkblue, 25%);
$maincolor-brink-of-war: desaturate(lighten($orange, 25%), 30%);
// $maincolor-brink-of-war: $brink-of-war;
$maincolor-at-war: lighten($red, 10%);
$maincolor-peace: desaturate(lighten($green, 20%), 50%);

$maincolor: $maincolor-normal;

$textcolor: lighten( $maincolor, 40% );
$link-color: lighten( $maincolor, 10% );
$body-color: $textcolor;
$highlight: lighten($maincolor, 40%);
$headers-color: $highlight;
$widget-color: $maincolor;
$bezel-color: saturate( $widget-color, 50% );
$input-color: $maincolor;
$bg-color1: rgba( desaturate(lighten($maincolor, 15%), 10%), .5 );
$bg-color2: rgba( lighten($maincolor, 10%), .25 );
$username-invited: $yellow;
$username-ineligible: rgba($textcolor, 0.5);
$username-confirmed: $highlight;

$primary:    $blue;
$success:    $green;
$info:       $yellow;
$danger:     $red;
$warning:    $orange;
