// Import Google fonts (NOW IMPORTED FIRST THING IN APPLICATION LAYOUT)
// @import url("https://fonts.googleapis.com/css?family=Dosis:200,600|Kanit:200|Nanum+Gothic+Coding:400|Lato:700&display=swap");

@import 'fonts/dosis';
@import 'fonts/kanit';
@import 'fonts/nanum_gothic_coding';

// Define fonts for body and headers
$headers-font: "Dosis", "Helvetica", "sans-serif";
$body-font: "Kanit", "Helvetica", "sans-serif";
$monospace-font: "NanumGothicCoding", "SFMono", "sans-serif";