@mixin theme-transitions($transition-speed) {
  p, a, h1, h2, h3, h4, h5, h6, span, input, small, ol, ul, li, button, #room, .highlight, .highlight-white, .highlight-on-hover, .box-highlight, .box-highlight-white, .box-highlight-white:hover, .button, .widget-bg, .widget {
    transition: background $transition-speed ease-in, color $transition-speed ease-in, border-color $transition-speed ease-in, text-shadow $transition-speed ease-in, box-shadow $transition-speed ease-in, outline $transition-speed ease-in, background-color $transition-speed ease-in, height 0.2s ease-in, font-size 0s;
  }
}

@mixin theme-color($maincolor, $bg-image) {
  $textcolor: lighten( $maincolor, 30% );
  $link-color: lighten( $maincolor, 10% );
  $body-color: $textcolor;
  $highlight: lighten($maincolor, 40%);
  $headers-color: $highlight;
  $widget-color: $maincolor;
  $bezel-color: saturate( $widget-color, 50% );
  $input-color: $textcolor;
  $bgcolor1: rgba( desaturate(lighten($maincolor, 15%), 10%), .5 );
  $bgcolor2: rgba( lighten($maincolor, 10%), .25 );
  $username-invited: $yellow;
  $username-ineligible: rgba($textcolor, 0.5);
  $username-confirmed: $highlight;

  // _general.scss
  ul, ol, li, small, span {
    color: $body-color;
  }

  background: linear-gradient(#000000aa, #00000066), asset-url($bg-image);
  background-size: cover;

  .dropdown-toggle {
    color: $highlight;
  }

  #room, div[data-behavior=vue] {
    background-color: rgba($bgcolor1, 0.3);
    color: $body-color;
  }

  a {
    color: $link-color;
  }

  h1, h2, h3, h4, h5, h6 {
    color: $headers-color;
  }

  .highlight-white {
    text-shadow: 0 0 5px $highlight, 0 0 15px rgba(255,255,255,0.5);
  }
  .highlight {
    color: $highlight;
    text-shadow: 0 0 5px $maincolor, 0 0 15px rgba(255,255,255,0.5);
  }

  .highlight-on-hover:hover {
    text-shadow: 0 0 5px $highlight, 0 0 15px rgba(255,255,255,0.5);
  }

  .box-highlight {
    border-color: $highlight;
    box-shadow: 0 0 5px $maincolor, 0 0 15px rgba(255,255,255,0.5);
  }

  .box-highlight-white {
    box-shadow: 0 0 5px $highlight, 0 0 15px rgba(255,255,255,0.5);
  }

  .box-highlight-white-hover:hover {
    box-shadow: 0 0 5px $highlight, 0 0 15px rgba(255,255,255,0.5);
  }

  // _chat.scss
  .multiline {
    border-color: rgba($highlight, 0.5);
  }

  // _navbar.scss


  // _buttons.scss

  button, a.button {
    color: $headers-color;
    text-shadow: 0 0 1px $headers-color, 0 0 15px rgba( $headers-color, 0.3);
    &:before {
      color: $headers-color;
    }
    &:after {
      color: $headers-color;

    }
    &:disabled, &:hover:disabled {
      color: rgba($headers-color, 0.4);
    }
    &:hover {
      color: $highlight;
      text-shadow: 0 0 5px $headers-color, 0 0 15px rgba( $headers-color, 0.8);
    }
  }

  // _inputs.scss

  textarea {
    &::placeholder {
      color: rgba($highlight, 0.6);
    }
  }

  input {
    color: $input-color !important;
    &::placeholder {
      color: rgba($maincolor, 0.4);
    }
    &:disabled {
      outline: 1px auto rgba( $maincolor, .3 );
      color: rgba($input-color, 0.5);
    }
  }

  input:focus {
    outline: 1px auto rgba( $maincolor, .5 );
  }

  .widget-bg {
    background-color: rgba( $bezel-color, .1 );

    &.seek-attention {
      background-color: rgba( lighten($bezel-color, 10%), .7 );
    }
  }

  .widget {
    .header {
      background-color: rgba( $bezel-color, .25 );
    }
  }

  // _tables.scss

  tr:hover {
    background-color: rgba(lighten($maincolor, 10%), 0.1);
  }
}

$bg-image-normal: 'bg_codewars_4.jpg';
$bg-image-brink-of-war: 'bg_codewars_4.jpg';
$bg-image-at-war: 'bg_codewars_3.jpg';
$bg-image: $bg-image-normal;
// $bg-image: 'bg_warriors_2.jpg';



// background: radial-gradient(ellipse farthest-corner at top left, $bgcolor1 10%, $bgcolor2), linear-gradient(#00000088, #00000033), asset-url($bg-image);

// STANDARD THEME
body {
  @include theme-color($maincolor-normal, $bg-image-normal)
  @include theme-transitions(1s)
}

// .peace, .preparation, .battle-over, .battle-loaded {
//   @include theme-color($maincolor-normal, $bg-image-normal)
//   @include theme-transitions(3s)
// }

.ready-for-battle {
  @include theme-color($maincolor-brink-of-war, $bg-image-brink-of-war)
  @include theme-transitions(3s)
}

.countdown, .war {
  @include theme-color($maincolor-at-war, $bg-image-at-war)
  @include theme-transitions(3s)
}
