@mixin theme($basecolor, $fullopacity, $bg-image, $transition-speed) {
  $maincolor: lighten($basecolor, 15%);
  $textcolor: lighten( $maincolor, 35% );
  $link-color: lighten( $maincolor, 10% );
  $body-color: $textcolor;
  $highlight: lighten($maincolor, 50%);
  $headers-color: $highlight;
  $widget-color: $maincolor;
  $bezel-color: saturate( $widget-color, 50% );
  $input-color: $textcolor;
  $bg-color1: rgba( darken(saturate($maincolor, 40%), 25%), .8 );
  // $bg-color2: rgba( lighten($maincolor, 10%), .25 );

  color: $body-color;
  transition: color $transition-speed ease-out;

  .app-bg {
    background: linear-gradient(30deg, #000000aa, #00000066), asset-url($bg-image);
    background-size: cover;
    transition: transform $transition-speed ease-out;

    &:before {
      background-color: rgba($bg-color1, 0.3);
      transition: background-color $transition-speed ease-out;
    }
  }
  

  .corner-button {
    color: $highlight;
    transition: color $transition-speed ease-out, background-color $transition-speed ease-out, opacity 0.3s ease-out;
    background-color: rgba($fullopacity, 0.6);
    &:hover {
      background-color: rgba($fullopacity, 1);
    }
  }
  
  a {
    color: $link-color;
    transition: color $transition-speed ease-out;
  }

  h1, h2, h3, h4, h5, h6 {
    color: $headers-color;
    transition: color $transition-speed ease-out;
  }

  .main-title .speed {
    color: $highlight;
    text-shadow: 0 0 5px $highlight, 0 0 15px rgba(255,255,255,0.5);
  }

  .highlight-white {
    text-shadow: 0 0 5px $highlight, 0 0 15px rgba(255,255,255,0.5);
    transition: text-shadow $transition-speed ease-out;
  }
  .highlight, strong {
    color: $highlight;
    text-shadow: 0 0 5px $maincolor, 0 0 15px rgba(255,255,255,0.5);
    transition: color $transition-speed ease-out, text-shadow $transition-speed ease-out;
  }

  .highlight-on-hover:hover {
    text-shadow: 0 0 5px $highlight, 0 0 15px rgba(255,255,255,0.5);
    transition: text-shadow $transition-speed ease-out;
  }

  .box-highlight {
    border-color: $highlight;
    box-shadow: 0 0 5px $maincolor, 0 0 15px rgba(255,255,255,0.5);
    transition: border-color $transition-speed ease-out, text-shadow $transition-speed ease-out;
  }

  .box-highlight-white {
    box-shadow: 0 0 5px $highlight, 0 0 15px rgba(255,255,255,0.5);
    transition: box-shadow $transition-speed ease-out;
  }

  .box-highlight-white-hover:hover {
    box-shadow: 0 0 5px $highlight, 0 0 15px rgba(255,255,255,0.5);
    transition: box-shadow $transition-speed ease-out;
  }

  // _chat.scss
  .widget-controls, .widget-body {
    border-color: rgba($bezel-color, .2);
    transition: border-color $transition-speed ease-out;
  }

  .messages .author {
    color: $headers-color;
    transition: color $transition-speed ease-out;
  }

  .messages .content code {
    border-color: rgba($body-color, 0.2);
  }
  .messages .content p code {
    background-color: rgba($bezel-color, 0.3);
    color: $highlight;
    transition: color $transition-speed ease-out;
  }

  .bot-announcement .content {
    color: $headers-color;
    transition: color $transition-speed ease-out;
  }

  .hljs span {
    transition: color $transition-speed ease-out;
  }

  // _navbar.scss


  // _buttons.scss

  button, .button, input[type="submit"] {
    color: $headers-color;
    text-shadow: 0 0 1px $headers-color, 0 0 15px rgba( $headers-color, 0.3);
    transition: color $transition-speed ease-out, text-shadow $transition-speed ease-out;
    &:before {
      color: $headers-color;
      transition: color $transition-speed ease-out;
    }
    &:after {
      color: $headers-color;
      transition: color $transition-speed ease-out;

    }
    &.toggled-off, &:disabled, &:hover:disabled {
      color: rgba($headers-color, 0.2) !important;
      transition: color $transition-speed ease-out;
    }
    &:hover {
      color: $highlight;
      text-shadow: 0 0 5px $headers-color, 0 0 15px rgba( $headers-color, 0.8);
      transition: color $transition-speed ease-out, text-shadow $transition-speed ease-out;
    }
  }

  // _inputs.scss
  
  input, textarea, select {
    color: $input-color !important;
    transition: color $transition-speed ease-out, transform 0.1s;
    &:focus {
      box-shadow: 0 0 0 0.1rem rgba($bezel-color, 0.5);
      transition: color $transition-speed ease-out;
    }
    &::placeholder {
      color: rgba($body-color, 0.5);
      transition: color $transition-speed ease-out;
    }
    &:disabled {
      outline: 1px auto rgba( $maincolor, .3 );
      color: rgba($input-color, 0.5);
      transition: color $transition-speed ease-out, outline $transition-speed ease-out;
    }
  }

  .widget-bg {
    background-color: rgba( $bezel-color, .1 );
    transition: opacity $transition-speed ease-out, background-color $transition-speed ease-out, filter $transition-speed ease-out, transform $transition-speed ease-out;
  }
  
  .seek-attention .widget-bg {
    // background-color: rgba( $bezel-color, .5 );
    background-color: rgba( lighten($bezel-color, 10%), .5 );
  }

  // &.battle-loaded #room-battle .widget-bg {
  //   background-color: rgba( $bezel-color, .5 );
  // }

  
  .widget .header {
    // background-color: rgba( $bezel-color, .25 );
    background-color: $fullopacity;
    transition: background-color $transition-speed ease-out;
  }
  
  // _tables.scss
  .console-table thead th {
    background-color: $fullopacity;
    transition: background-color $transition-speed ease-out;
  }

  tr:hover {
    background-color: rgba(lighten($maincolor, 10%), 0.1);
    transition: background-color $transition-speed ease-out;
  }

  tr.current-user {
    background-color: rgba($highlight, 0.1);
    &:hover {
      background-color: rgba($highlight, 0.2);
    }
  }

  // #room-announcer .widget-body {
  //   background-color: $basecolor;
  // }
}

$bg-image: 'bg_codewars_4_bw.jpg';
$bg-image-normal: $bg-image;
$bg-image-brink-of-war: $bg-image-normal;
$bg-image-at-war: 'bg_codewars_3.jpg';
// $bg-image-warriors: 'bg_warriors_2.jpg';

// background: radial-gradient(ellipse farthest-corner at top left, $bg-color1 10%, $bg-color2), linear-gradient(#00000088, #00000033), asset-url($bg-image);

// PEACE (standard)
#super-container.peace, #super-container.battle-loaded, #super-container.battle-confirmed {
  @include theme($maincolor-peace, $fullopacity-peace, $bg-image-normal, 1s);
}

// BRINK OF WAR (ready for battle)
#super-container.ready-for-battle {
  @include theme($maincolor-brink-of-war, $fullopacity-brink-of-war, $bg-image-normal, 1s);
}

// COUNTDOWN (slower transitions)
#super-container.countdown {
  @include theme($maincolor-war, $fullopacity-war, $bg-image-normal, 5s);
}

// WAR
#super-container.war {
  @include theme($maincolor-war, $fullopacity-war, $bg-image-normal, 1s);
}
