<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="grid-item col-md-9 col-lg-6">
      <div class="widget-bg">
        <div class="widget">
          <h3 class="header">Sign up</h3>
          <div class="widget-body pr-4 pb-4">
            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= f.error_notification %>

            <sign-up-form-inputs></sign-up-form-inputs>

            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center mt-3">
    <%= render "devise/shared/links" %>
  </div>
</div>
