<div class="grid-item">
  <div class="widget-bg m-auto w-50">
    <div class="widget">
      <h3 class="header">Sign up</h3>
      <div class="widget-body mt-5 pr-4 pb-4">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>

          <sign-up-form-inputs></sign-up-form-inputs>

          <div class="d-flex justify-content-between w-100">
            <br>
            <%= render "devise/shared/links" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

