<div class="main-logo animated zoomIn">
  <div class="codewars-logo animated slideInRight mr-3"><%= image_tag "codewars_logo.png" %></div>
  <h1 class="main-title mx-3">
    <div class="speed animated lightSpeedIn">
      <div>Speed</div>
    </div>
    <div class="battles animated flipInY ">
      <div class="animated pulse delay-2s slower">Battles</div>
    </div>
  </h1>
</div>