<% if user_signed_in? %>
  <div id="menu-button">
    <a href="/users/edit" style="color: white;">
      <div class="corner-button highlight-on-hover">
        <i class="fas fa-cog"></i>
      </div>
    </a>
  </div>
<% end %>
