// @font-face {
//     font-family: 'Kanit';
//     src: asset-url('Kanit-SemiBoldItalic.eot');
//     src: local('Kanit SemiBold Italic'), local('Kanit-SemiBoldItalic'),
//         asset-url('Kanit-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
//         asset-url('Kanit-SemiBoldItalic.woff2') format('woff2'),
//         asset-url('Kanit-SemiBoldItalic.woff') format('woff'),
//         asset-url('Kanit-SemiBoldItalic.ttf') format('truetype');
//     font-weight: 600;
//     font-style: italic;
// }

// @font-face {
//     font-family: 'Kanit';
//     src: asset-url('Kanit-BlackItalic.eot');
//     src: local('Kanit Black Italic'), local('Kanit-BlackItalic'),
//         asset-url('Kanit-BlackItalic.eot?#iefix') format('embedded-opentype'),
//         asset-url('Kanit-BlackItalic.woff2') format('woff2'),
//         asset-url('Kanit-BlackItalic.woff') format('woff'),
//         asset-url('Kanit-BlackItalic.ttf') format('truetype');
//     font-weight: 900;
//     font-style: italic;
// }

// @font-face {
//     font-family: 'Kanit';
//     src: asset-url('Kanit-MediumItalic.eot');
//     src: local('Kanit Medium Italic'), local('Kanit-MediumItalic'),
//         asset-url('Kanit-MediumItalic.eot?#iefix') format('embedded-opentype'),
//         asset-url('Kanit-MediumItalic.woff2') format('woff2'),
//         asset-url('Kanit-MediumItalic.woff') format('woff'),
//         asset-url('Kanit-MediumItalic.ttf') format('truetype');
//     font-weight: 500;
//     font-style: italic;
// }

// @font-face {
//     font-family: 'Kanit';
//     src: asset-url('Kanit-Regular.eot');
//     src: local('Kanit Regular'), local('Kanit-Regular'),
//         asset-url('Kanit-Regular.eot?#iefix') format('embedded-opentype'),
//         asset-url('Kanit-Regular.woff2') format('woff2'),
//         asset-url('Kanit-Regular.woff') format('woff'),
//         asset-url('Kanit-Regular.ttf') format('truetype');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Kanit';
//     src: asset-url('Kanit-Thin.eot');
//     src: local('Kanit Thin'), local('Kanit-Thin'),
//         asset-url('Kanit-Thin.eot?#iefix') format('embedded-opentype'),
//         asset-url('Kanit-Thin.woff2') format('woff2'),
//         asset-url('Kanit-Thin.woff') format('woff'),
//         asset-url('Kanit-Thin.ttf') format('truetype');
//     font-weight: 100;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Kanit';
//     src: asset-url('Kanit-ThinItalic.eot');
//     src: local('Kanit Thin Italic'), local('Kanit-ThinItalic'),
//         asset-url('Kanit-ThinItalic.eot?#iefix') format('embedded-opentype'),
//         asset-url('Kanit-ThinItalic.woff2') format('woff2'),
//         asset-url('Kanit-ThinItalic.woff') format('woff'),
//         asset-url('Kanit-ThinItalic.ttf') format('truetype');
//     font-weight: 100;
//     font-style: italic;
// }

// @font-face {
//     font-family: 'Kanit';
//     src: asset-url('Kanit-ExtraBoldItalic.eot');
//     src: local('Kanit ExtraBold Italic'), local('Kanit-ExtraBoldItalic'),
//         asset-url('Kanit-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
//         asset-url('Kanit-ExtraBoldItalic.woff2') format('woff2'),
//         asset-url('Kanit-ExtraBoldItalic.woff') format('woff'),
//         asset-url('Kanit-ExtraBoldItalic.ttf') format('truetype');
//     font-weight: 800;
//     font-style: italic;
// }

// @font-face {
//     font-family: 'Kanit';
//     src: asset-url('Kanit-Italic.eot');
//     src: local('Kanit Italic'), local('Kanit-Italic'),
//         asset-url('Kanit-Italic.eot?#iefix') format('embedded-opentype'),
//         asset-url('Kanit-Italic.woff2') format('woff2'),
//         asset-url('Kanit-Italic.woff') format('woff'),
//         asset-url('Kanit-Italic.ttf') format('truetype');
//     font-weight: normal;
//     font-style: italic;
// }

@font-face {
    font-family: 'Kanit';
    src: asset-url('Kanit-ExtraLight.eot');
    src: local('Kanit ExtraLight'), local('Kanit-ExtraLight'),
        asset-url('Kanit-ExtraLight.eot?#iefix') format('embedded-opentype'),
        asset-url('Kanit-ExtraLight.woff2') format('woff2'),
        asset-url('Kanit-ExtraLight.woff') format('woff'),
        asset-url('Kanit-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

// @font-face {
//     font-family: 'Kanit';
//     src: asset-url('Kanit-Bold.eot');
//     src: local('Kanit Bold'), local('Kanit-Bold'),
//         asset-url('Kanit-Bold.eot?#iefix') format('embedded-opentype'),
//         asset-url('Kanit-Bold.woff2') format('woff2'),
//         asset-url('Kanit-Bold.woff') format('woff'),
//         asset-url('Kanit-Bold.ttf') format('truetype');
//     font-weight: bold;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Kanit';
//     src: asset-url('Kanit-SemiBold.eot');
//     src: local('Kanit SemiBold'), local('Kanit-SemiBold'),
//         asset-url('Kanit-SemiBold.eot?#iefix') format('embedded-opentype'),
//         asset-url('Kanit-SemiBold.woff2') format('woff2'),
//         asset-url('Kanit-SemiBold.woff') format('woff'),
//         asset-url('Kanit-SemiBold.ttf') format('truetype');
//     font-weight: 600;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Kanit';
//     src: asset-url('Kanit-Medium.eot');
//     src: local('Kanit Medium'), local('Kanit-Medium'),
//         asset-url('Kanit-Medium.eot?#iefix') format('embedded-opentype'),
//         asset-url('Kanit-Medium.woff2') format('woff2'),
//         asset-url('Kanit-Medium.woff') format('woff'),
//         asset-url('Kanit-Medium.ttf') format('truetype');
//     font-weight: 500;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Kanit';
//     src: asset-url('Kanit-Black.eot');
//     src: local('Kanit Black'), local('Kanit-Black'),
//         asset-url('Kanit-Black.eot?#iefix') format('embedded-opentype'),
//         asset-url('Kanit-Black.woff2') format('woff2'),
//         asset-url('Kanit-Black.woff') format('woff'),
//         asset-url('Kanit-Black.ttf') format('truetype');
//     font-weight: 900;
//     font-style: normal;
// }

@font-face {
    font-family: 'Kanit';
    src: asset-url('Kanit-ExtraLightItalic.eot');
    src: local('Kanit ExtraLight Italic'), local('Kanit-ExtraLightItalic'),
        asset-url('Kanit-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        asset-url('Kanit-ExtraLightItalic.woff2') format('woff2'),
        asset-url('Kanit-ExtraLightItalic.woff') format('woff'),
        asset-url('Kanit-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Kanit';
    src: asset-url('Kanit-LightItalic.eot');
    src: local('Kanit Light Italic'), local('Kanit-LightItalic'),
        asset-url('Kanit-LightItalic.eot?#iefix') format('embedded-opentype'),
        asset-url('Kanit-LightItalic.woff2') format('woff2'),
        asset-url('Kanit-LightItalic.woff') format('woff'),
        asset-url('Kanit-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Kanit';
    src: asset-url('Kanit-Light.eot');
    src: local('Kanit Light'), local('Kanit-Light'),
        asset-url('Kanit-Light.eot?#iefix') format('embedded-opentype'),
        asset-url('Kanit-Light.woff2') format('woff2'),
        asset-url('Kanit-Light.woff') format('woff'),
        asset-url('Kanit-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

// @font-face {
//     font-family: 'Kanit';
//     src: asset-url('Kanit-ExtraBold.eot');
//     src: local('Kanit ExtraBold'), local('Kanit-ExtraBold'),
//         asset-url('Kanit-ExtraBold.eot?#iefix') format('embedded-opentype'),
//         asset-url('Kanit-ExtraBold.woff2') format('woff2'),
//         asset-url('Kanit-ExtraBold.woff') format('woff'),
//         asset-url('Kanit-ExtraBold.ttf') format('truetype');
//     font-weight: 800;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Kanit';
//     src: asset-url('Kanit-BoldItalic.eot');
//     src: local('Kanit Bold Italic'), local('Kanit-BoldItalic'),
//         asset-url('Kanit-BoldItalic.eot?#iefix') format('embedded-opentype'),
//         asset-url('Kanit-BoldItalic.woff2') format('woff2'),
//         asset-url('Kanit-BoldItalic.woff') format('woff'),
//         asset-url('Kanit-BoldItalic.ttf') format('truetype');
//     font-weight: bold;
//     font-style: italic;
// }

