// @font-face {
//     font-family: 'NanumGothicCoding';
//     src: asset-url('NanumGothicCoding-Bold.eot');
//     src: local('NanumGothicCoding-Bold'),
//         asset-url('NanumGothicCoding-Bold.eot?#iefix') format('embedded-opentype'),
//         asset-url('NanumGothicCoding-Bold.woff2') format('woff2'),
//         asset-url('NanumGothicCoding-Bold.woff') format('woff'),
//         asset-url('NanumGothicCoding-Bold.ttf') format('truetype');
//     font-weight: bold;
//     font-style: normal;
// }

@font-face {
    font-family: 'NanumGothicCoding';
    src: asset-url('NanumGothicCoding.eot');
    src: local('NanumGothicCoding'),
        asset-url('NanumGothicCoding.eot?#iefix') format('embedded-opentype'),
        asset-url('NanumGothicCoding.woff2') format('woff2'),
        asset-url('NanumGothicCoding.woff') format('woff'),
        asset-url('NanumGothicCoding.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

