<div class="webhook-setup-preview" data-action="mouseout->settings#hideHint" data-target="settings.setupPreview">
  <h3 class="absolute-center w-100 text-center highlight text-white">Copy & paste the Payload url and Secret into your Codewars settings...</h3>
  <%= image_tag 'webhook_setup.jpg' %>
</div>