<div class="room-dashboard">
  <div class="grid-item grid-header">
    <h2 class="text-center">War Room: <%= @room.name %></h2>
  </div>
  <div class="grid-item grid-warriors">
    <h2 class="text-center highlight">Warriors</h2>
    <%= render 'rooms/users' %>
  </div>
  <div class="grid-item grid-chat">
    <h2 class="text-center highlight">Chat</h2>
  </div>
  <div class="grid-item grid-challenge">
    <h2 class="text-center highlight">Challenge</h2>
  </div>
  <div class="grid-item grid-scoreboard">
    <h2 class="text-center highlight">Scoreboard</h2>
  </div>
  <div class="grid-item grid-battle">
    <h2 class="text-center highlight">Battle</h2>
    <%= render 'rooms/battle' %>
  </div>
</div>
