.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
  background-color: rgba($darkblue, 0.3);
  box-shadow: 0 0 5px rgba(white, 0.2);
}

.alert-info {
  border-color: rgba($fullopacity-peace, 1);
  color: rgba(white, 0.7);
}

// Fixing close icon on flashes
.alert-dismissible .close {
  margin: 0;
  line-height: 0.75;
  font-weight: 300;
  &:after, &:before {
    content: none;
  }
}