#room-announcer {
  font-family: $headers-font;
  
  .announcer .timer {
    font-family: $monospace-font;
    font-size: 4em;
    line-height: 1em;

    &.no-limit {
      font-size: 3em;
    }
  }

  .widget-body {
    padding-top: 0;
  }
}
