button, a.button, input.button {
  background: none;
  border: none;
  font-family: $headers-font;
  text-transform: uppercase;
  align-items: center;
  display: flex;
  font-weight: 300;
  color: $headers-color;
  text-shadow: 0 0 1px $headers-color, 0 0 15px rgba( $headers-color, 0.3);
  &:focus {
    outline: none;
  }
  &:before {
    color: $headers-color;
    font-size: 2em;
    content: "[";
  }
  &:after {
    color: $headers-color;
    font-size: 2em;
    content: "]";
  }
  &:disabled, &:hover:disabled {
    color: rgba($headers-color, 0.4);
    text-shadow: none;
  }
  &:hover {
    color: $highlight;
    text-shadow: 0 0 5px $headers-color, 0 0 15px rgba( $headers-color, 0.8);
  }
  &.large {
    font-size: 1.5em;
  }
}
