button, .button, input[type="submit"] {
  cursor: pointer;
  background: none;
  margin: 0.1em;
  border: none;
  font-family: $headers-font;
  text-transform: uppercase;
  align-items: center;
  display: flex;
  font-weight: 300;
  transition-duration: 0.2s !important;
  opacity: 0.8;
  &:focus {
    outline: none;
  }
  &:before {
    font-size: 1.7em;
    content: "[";
  }
  &:after {
    font-size: 1.7em;
    content: "]";
  }
  // The class disabled is for buttons that are OFF but 
  &.toggled-off {
    text-shadow: none !important;
  }
  &:disabled, &:hover:disabled, &:active:disabled {
    cursor: not-allowed;
    transform: unset;
    opacity: 0.8;
    text-shadow: none !important;
  }
  &:active {
    transform: scale(0.99);
  }
  &:hover {
    opacity: 1;
  }
  &.large {
    font-size: 1.5em;
    & > i {
      margin-right: 0.5rem;
    }
  }
  & > i {
    margin-right: 0.25rem;
  }
}
