#room-chat {
  user-select: text;
  .header {
    clip-path: polygon(0 0, $chat-header-width 0, calc(#{$chat-header-width} - #{$bezel}) 100%, 0 100%);
    width: 50%;
    padding-right: 0;
  }

  .widget-body {
    clip-path: polygon(0 $bezel, calc(#{$chat-header-width} - #{$bezel}) $bezel, $chat-header-width 0, 100% 0, 100% 100%, 0 100%);
    max-height: 90vh;
    padding-bottom: 0.5em;
  }

  .messages {
    margin: -1.8em -1.5em 0.5em -1.5em;
    padding: 0 1.5em;
    font-weight: 200;
  }
  
  .messages li {
    // line-height: 1.2em;
    list-style: none;
  }
  
  .messages .author {
    margin-top: 8px;
    display: block;
    font-weight: bold;
    opacity: 1;
  }
  
  .messages .content {
    font-family: $headers-font;
    tab-size : 4;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    opacity: 0.8;
    code {
      border: solid 0.5px rgba(255,255,255,0.2);
      border-radius: 4px;
      background: linear-gradient(-10deg, rgba(0, 0, 0, 0.4) 10%, rgba(0, 0, 0, 0.8));
      padding: 5px;
      letter-spacing: 0;
    }
    p code {
      font-size: 0.85em;
    }
    pre {
      font-size: 0.85em;
      overflow: initial;
      margin: 5px 1em;
    }
    pre code {
      padding: 1em;
      overflow: initial;
      white-space: pre-wrap;
    }
  }
  
  .messages .content p strong, .messages .chat-highlight {
    font-weight: 300;
    // color: $highlight;
    text-shadow: 0 0 7px #cbe4ee, 0 0 1px rgba(255, 255, 255, 0.6)
  }

  
  #msg-input {
    // background: rgba(255, 255, 255, 0.1);
    position: relative;
    display: flex;
    margin: 0 -1.5em -0.5em -1.5em;
    padding: 0 1.5em 0 1.5em;
    &:after {
      opacity: 0;
      content: "[⌘]+[Enter]";
      position: absolute;
      right: 0;
      top: -1.5em;
      font-size: 0.8em;
      background: linear-gradient(150deg, rgba(0,0,0,0.5), rgba(0,0,0,0.8));
      line-height: 1.5em;
      border-radius: 3px 3px 0 0;
      padding: 0 5px;
    }
    &.multiline {
      padding-top: 0.3em;
      border-top-width: 0.5px;
      border-top-style: solid;
      background: linear-gradient(30deg, rgba(0,0,0,0.2), rgba(0,0,0,0.4));;
    }
    &.multiline:after {
      opacity: 1;
    }
    &:before {
      content: ">";
      position: absolute;
      left: 0;
      width: 1.5em;
      text-align: right;
      padding-right: 5px;
    }
    #msg-textarea {
      white-space: pre-wrap;
      tab-size : 4;
      border: none;
      resize: none;
    };
  }

  #msg-input .input-field {
    background: none;
    padding-left: 0.5em;
    // color: white;
    // border: none;
    width: auto;
  }

  #msg-input .input-field:focus {
    outline: none;
  }

  .bot-announcement {
    font-family: $headers-font;
    font-weight: light;
    // font-style: italic;
    // opacity: 0.7;
    margin: 2px 0;
    padding: 5px 0;
    text-align: center;
  }

  .notification {
    // background: rgba(255,255,255,0.1);
    background: rgba(black, 0.2);
    font-size: 0.9em;
    border-radius: 5px;
    padding: 0.8em;
    max-width: 85%;
    margin: 1em auto;
    border: none;
    box-shadow: 0 0 5px rgba(255,255,255,0.1), 0 0 10px rgba(255,255,255,0.1);
    // clip-path: polygon(0 0, calc(100% - #{$bezel}) 0, 100% $bezel, 100% 100%, $bezel 100%, 0 calc(100% - #{$bezel}));
  }
}
