#room-chat {
  .header {
    clip-path: polygon(0 0, $chat-header-width 0, calc(#{$chat-header-width} - #{$bezel}) 100%, 0 100%);
    width: 50%;
    padding-right: 0;
  }
  
  .widget-body {
    clip-path: polygon(0 $bezel, calc(#{$chat-header-width} - #{$bezel}) $bezel, $chat-header-width 0, 100% 0, 100% 100%, 0 100%);
    max-height: 90vh;
    padding-bottom: 0.5em;
  }
  
  .messages {
    user-select: text;
    margin: -1.8em -1.5em 0 -1.5em;
    padding: 0 1.5em 1em 1.5em;
    font-weight: 200;
  }
  
  .messages li {
    // line-height: 1.2em;
    list-style: none;
  }
  
  .messages .sent-at {
    font-family: $body-font;
    font-size: 0.85em;
    opacity: 0.6;
    font-weight: 200;
  }

  .messages .user-message .author {
    font-family: $headers-font;
    margin-top: 1em;
    display: block;
    opacity: 1;
    font-weight: 600;
    .sent-at {
      margin-left: 0.6em;
    }
  }
  
  .messages .user-message .content {
    font-family: $body-font;
    tab-size : 4;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    // opacity: 0.8;
    code {
      border-style: solid;
      border-width: 0.5px;
      border-radius: 3px;
      background: linear-gradient(-10deg, rgba(0, 0, 0, 0.2) 10%, rgba(0, 0, 0, 0.4));
      padding: 5px;
      letter-spacing: 0;
    }
    p code {
      font-size: 0.85em;
    }
    pre {
      font-size: 0.85em;
      overflow: initial;
      margin: 5px 1em;
    }
    pre code {
      padding: 1em;
      overflow: initial;
      white-space: pre-wrap;
      span {
        font-weight: initial;
      }
    }
  }
  
  .messages .content p strong, .messages .chat-highlight {
    font-weight: 300;
    // color: $highlight;
    text-shadow: 0 0 7px #cbe4ee, 0 0 1px rgba(255, 255, 255, 0.6)
  }

  
  #msg-input {
    position: relative;
    display: flex;
    margin: 0 -1.5em -0.5em -1.5em;
    padding: 0.5em 1.5em 0.5em 1.5em;
    background: linear-gradient(30deg, rgba(0,0,0,0.5), rgba(0,0,0,0.3));
    &:after {
      opacity: 0;
      content: attr(data-submit-hint);
      position: absolute;
      right: 0;
      top: -1.5em;
      font-size: 0.8em;
      background: linear-gradient(150deg, rgba(0,0,0,0.5), rgba(0,0,0,0.8));
      line-height: 1.5em;
      border-radius: 3px 3px 0 0;
      padding: 0 8px;
      transition: opacity 0.5s ease-out;
    }
    &.multiline {
      border-top-style: solid;
      border-top-width: 0.5px;
    }
    &.multiline:after {
      opacity: 1;
    }
    &:before {
      content: ">";
      position: absolute;
      left: 1.8em;
      text-align: left;
    }
    #msg-textarea {
      text-indent: 1em;
      padding: 0 0.3em;
      background: none;
      white-space: pre-wrap;
      tab-size : 4;
      border: none;
      resize: none;
    };

    #msg-textarea:focus {
      outline: none;
    }
    &.code {
      font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
      font-weight: 200;
    }
  }

  .bot-announcement {
    text-align: center;
    margin: 2em auto;
    padding: 1em;
    
    .content {
      position: relative;
      font-family: $headers-font;
      font-weight: light;
      font-size: 1.1em;
    }

    .sent-at {
      position: absolute;
      width: 200px;
      left: calc(50% - 100px);
      bottom: -1.5em;
      opacity: 0;
      transition: opacity 0.5s ease-out 1s;
    }

    &:hover .sent-at {
      opacity: 1;
    }
  }
  
  // .notification {
    // max-width: 85%;
    // border-radius: 5px;
    // border: none;
    // box-shadow: 0 0 5px rgba(255,255,255,0.1), 0 0 10px rgba(255,255,255,0.1);
    // clip-path: polygon(0 0, calc(100% - #{$bezel}) 0, 100% $bezel, 100% 100%, $bezel 100%, 0 calc(100% - #{$bezel}));
  // }
}
