* {
  padding: 0;
  margin: 0;
  letter-spacing: 1px;
  overscroll-behavior: none;
}

body {
  height: 100vh;
  cursor: default;
  user-select: none;
  background-color: black;
  font-weight: 200;
}

small {
  font-weight: inherit;
}

// h1, h2, h3, h4, h5, h6 {
//   color: $headers-color;
// }

.no-wrap {
  white-space: nowrap;
}

.text-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

p {
  padding: 0;
  margin: 0;
}

a {
  color: $link-color;
  text-decoration: none;
}

a:hover {
  color: lighten($link-color, 50%);
  text-decoration: none;
  transition: color 0.3s !important;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.hidden {
  display: none !important;
}

.d-contents {
  display: contents;
}

.absolute-h-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.clickable {
  cursor: pointer;
}

.transparent {
  opacity: 0;
}

.flex-1 {
  flex: 1;
}

.line-height-1 {
  line-height: 1em;
}

.position-relative {
  position: relative;
}

.absolute-top-right-corner {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}

.flex-centering {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

.scale50 {
  transform: scale(0.5);
}

.scale75 {
  transform: scale(0.75);
}

.scrollable {
  overflow: scroll;
}

.max-w-100vw {
  max-width: 100vw;
}

.highlight-white {
  color: white;
}

.highlight-red {
  color: white;
  text-shadow: 0 0 5px rgba(255,150,150, 0.9), 0 0 15px rgba(255,150,150,0.5) !important;

  span {
    color: rgba(255, 220, 220, 0.8);
  }
}

.highlight-on-hover:hover {
  // text-shadow: 0 0 5px $highlight, 0 0 15px rgba(255,255,255,0.5);
}

.box-highlight {
  // border-color: $highlight;
  // box-shadow: 0 0 5px $highlight, 0 0 15px rgba(255,255,255,0.5);
}

.box-highlight-white {
  border-color: $white;
  // box-shadow: 0 0 5px $highlight, 0 0 15px rgba(255,255,255,0.5);
}

.box-highlight-white-hover:hover {
  border-color: $white;
  // box-shadow: 0 0 5px $highlight, 0 0 15px rgba(255,255,255,0.5);
}

.scale-on-hover:hover {
  transform: scale(1.1);
}

// .shrink-unless-hover {
//   transform: scale(0.95);
// }

// .shrink-unless-hover:hover {
//   transform: scale(1);
// }

.delay-10s {
  animation-delay: 10s;
}