* {
  padding: 0;
  margin: 0;
  letter-spacing: 1px;
  overscroll-behavior: none;
}

body {
  height: 100vh;
  color: $body-color;
  // background: radial-gradient(ellipse farthest-corner at top left, $bgcolor1 10%, $bgcolor2), linear-gradient(#00000088, #00000033), asset-url($bg-image);
  // background-size: cover;
  cursor: default;
  user-select: none;
}

h1, h2, h3, h4, h5, h6 {
  color: $headers-color;
}

a {
  color: $link-color;
  text-decoration: none;
}

a:hover {
  color: lighten($link-color, 50%);
  text-decoration: none;
  transition: color 0.3s !important;
}

.fixed-screen {
  padding: 1em;
  height: 100vh;
  background-size: cover;
}

.hidden {
  display: none !important;
}

.display-initial {
  display: initial !important;
}

.clickable {
  cursor: pointer;
}

.transparent {
  opacity: 0;
}

.flex-1 {
  flex: 1;
}

.line-height-1 {
  line-height: 1em;
}

.position-relative {
  position: relative;
}

.absolute-top-right-corner {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}

.flex-centering {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.absolute-centering {
  // width: 50%;
  // height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scale50 {
  transform: scale(0.5);
}

.scale75 {
  transform: scale(0.75);
}

.scrollable {
  overflow: scroll;
}

.highlight-white {
  font-weight: 300;
  color: white;
  text-shadow: 0 0 5px $highlight, 0 0 15px rgba(255,255,255,0.5);
}
.highlight {
  font-weight: 300;
  color: $highlight;
  text-shadow: 0 0 5px $highlight, 0 0 15px rgba(255,255,255,0.5);
}

.highlight-on-hover:hover {
  text-shadow: 0 0 5px $highlight, 0 0 15px rgba(255,255,255,0.5);
}

.box-highlight {
  border-color: $highlight;
  box-shadow: 0 0 5px $highlight, 0 0 15px rgba(255,255,255,0.5);
}

.box-highlight-white {
  border-color: $white;
  box-shadow: 0 0 5px $highlight, 0 0 15px rgba(255,255,255,0.5);
}

.box-highlight-white-hover:hover {
  border-color: $white;
  box-shadow: 0 0 5px $highlight, 0 0 15px rgba(255,255,255,0.5);
}

.scale-on-hover:hover {
  transform: scale(1.1);
}
