@media screen and (max-width: $mobile-breakpoint - 1) {
  #room {
    .grid-item {
      margin: 0.5em 0;
    }
  }
}

@media screen and (min-width: $mobile-breakpoint) {
  #room {
    display: grid;
  // grid-template-columns: 12% 48% 40%;
  grid-template-columns: 45% 55%;
  grid-template-rows: 150px calc(55% - 150px) 45%;
  grid-template-areas:
    "battle header"
    "battle chat"
    "leaderboard chat";
}

.grid-item {
  position: relative;
  align-items: middle;
  margin: 0.5em;
  align-items: center;
  display: flex;
}
.grid-header {
  grid-area: header;
}
.grid-warriors {
  grid-area: warriors;
}
.grid-chat {
  grid-area: chat;
}
.grid-battle {
  grid-area: battle;
}
.grid-leaderboard {
  grid-area: leaderboard;
}
.grid-controls {
  grid-area: controls;
}
}

