$disconnection-animation-delay: 3s;

#room {
  transition: transform 0.2s ease-out;
}

.grid-item {
  transition: transform 0.3s ease-out, opacity 0.3s ease-out, filter 0.3s ease-out;
}

#room-modal {
  z-index: 100;
}

.modal-widget {
  transform: scale(0.95);
  overflow-y: auto;
  flex-grow: 1;
}

#super-container.unfocused {
  #room {
    transform: scale(0.97);
  }

  .grid-item {
    filter: blur(3px) grayscale(0.5);
    opacity: 0.7;
  }

  .modal-widget.focus {
    transition: transform 0.2s ease-out, opacity 0.2s ease-out, filter 0.2s ease-out;
    transform: unset;
  }

  .grid-item.focus {
    transform: scale(1.08);
    filter: unset;
    opacity: 1;
  }
}

#super-container.unfocused.disconnected {
  #room {
    transition: transform 1s ease-out $disconnection-animation-delay;
  }

  .grid-item {
    transition: transform 1s ease-out $disconnection-animation-delay, opacity 1s ease-out $disconnection-animation-delay, filter 1s ease-out $disconnection-animation-delay;
  }
}