#menu-button {
  .corner-button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
    padding: 0.5em 0.5em 0 0;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    height: 4.5rem;
    width: 4.5rem;
    text-align: right;
    filter: brightness(0.8);
    i {
      font-size: 1.5em;
      margin: 0.1em;
    }
    &:hover {
      filter: brightness(1);
    }
    &:after {
      display: none;
    }
    &.active {
      background: rgba(0,0,0,1);
      opacity: 0.8;
      // height: 2em;
      // width: 2em;
    }
    &.active:hover {
      opacity: 1;
    }
  }
  .widget-body {
    flex-direction: row;
    padding: 1em 3em;
  }
  .menu {
    z-index: 100;
    position: absolute;
    top: 0;
    right: 0;
  }
}
