.observer {
  font-size: 1.5rem;
  #leave-button {
    display: none;
  }
  #room {
    grid-template-columns: 40% 60%;
    grid-template-rows: 30% 70%;
    grid-template-areas:
      "header header"
      "chat battle";
    .grid-leaderboard {
      grid-area: battle;
    }
    .grid-controls {
      display: none;
    }
    .grid-battle {
      font-size: 1.2rem !important;
    }
    .grid-leaderboard {
      display: none;
    }
    #msg-input {
      display: none !important;
    }
    // &.peace {
    //   .grid-battle {
    //     display: none;
    //   }
    // }
  }
  // &.war, &.countdown, &.battle-confirmed, &.battle-loaded, &.peace {

  // }
}
