table.console-table {
  table-layout: fixed ;
  width: 100% ;

  thead th {
    overflow: hidden;
    font-size: 0.9em;
  }

  tbody th {
    align-items: center;
    display: flex;
  }

  th:first-child .data {
    justify-content: left;
    padding-left: 1em;
  }

  .data:first-child {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  td:nth-child(2n) .data, th:nth-child(2n) .data {
    justify-content: space-between;
    &:before, &:after {
      font-weight: normal;
      content: "|"
    }
  }

  tr {
    height: 1em;
  }

  tr:hover {
    background-color: rgba(lighten($maincolor, 10%), 0.1);
    transition: background-color 0.2s;
  }

  td {
    white-space: nowrap;
    overflow: hidden;
  }

  td:last-child .data, th:last-child .data {
    &:after {
      visibility: hidden;
    }
  }

  .bg-highlight {
    background-color: rgba(white, 0.1);
  }

  .first-row {
    background-color: rgba(white, 0.3);
    color: rgba(darken($maincolor, 40%), 0.8);
  }
}

