table.console-table {
  font-size: 0.9em;
  width: 100% ;
  overflow: scroll;
  display: table;
  table-layout:fixed;

  &.no-stats thead, &.no-stats tbody {
    display:table;
    width: 100%;
  }

  thead th {
    text-overflow: ellipsis;
    font-size: 0.9em;
    white-space: nowrap;
    overflow: hidden;
  }

  tbody th {
    align-items: center;
    display: table-cell;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 200;
  }

  tbody td {
    display: table-cell;
  }

  td:not(:first-child) .data, th:not(:first-child) .data {
    width: 100%;
    justify-content: center;
  }

  :not(.battle-over) > td {
    border-right: solid 0.5px rgba(white, 0.2);
  }

  td:last-child, th:last-child {
    border-right: unset;
  }

  td:first-child, th:first-child {
    justify-content: left;
    padding-left: 1em;
  }

  .data:first-child {
    display: flex;
    margin: 0;
    padding: 0;
  }

  .pending-label {
    display: none;
  }

  th.username.pending {
    font-style: italic;
    opacity: 0.5;
    .data.username:after {
      content: "(pending)";
      visibility: visible;
      font-size: smaller;
      margin-left: 0.5em;
    }
    // .pending-label {
    //   // display: inherit;
    // }
  }

  // td:nth-child(2n) .data, th:nth-child(2n) .data {
  //   justify-content: center;
  //   border-left: solid 0.5px rgba(white ,0.5);
  //   border-right: solid 0.5px rgba(white ,0.5);
  //   // &:before, &:after {
  //   //   font-weight: normal;
  //   //   content: "|";
  //   //   // margin: 0 1em;
  //   // }
  // }

  tr {
    height: 1em;
  }

  tr:hover {
    // background-color: rgba(lighten($maincolor, 10%), 0.1);
    transition: background-color 0.1s !important;
  }

  tr.battle-over {
    border-top: solid 0.5px rgba(white, 0.2);
    border-bottom: solid 0.5px rgba(white, 0.2);
    background-color: rgba($red, 0.2);
    &:hover {
      background-color: rgba($red, 0.2) !important;
    }
    span {
      color: rgba(white, 0.7);
    }
  }

  td {
    white-space: nowrap;
    overflow: hidden;
  }

  // td:last-child .data, th:last-child .data {
  //   &:after {
  //     visibility: hidden;
  //   }
  // }

  .bg-highlight {
    background-color: rgba(white, 0.1);
  }

  // thead {
  //   background-color: rgba(white, 0.3);
  //   color: rgba(darken($maincolor, 40%), 0.8);
  // }
}

.fixed-header {
  overflow-y: auto;
  table thead th {
    position: sticky;
    top: 0;
    z-index: 1;
  }
}

@media screen and (max-width: $mobile-breakpoint) {
  table {
    font-size: 0.7em;
  }
}