.custom-tooltip {
  position: relative;
}

.custom-tooltip:after {
  content: attr(data-tooltip);
  font-size: 12px;
  visibility: hidden;
  min-width: 150px;
  background-color: rgba(0,0,0,0.8);
  color: #fff;
  white-space: nowrap;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  bottom: -2em;
  left: calc(50% - 75px);
  opacity: 0;
  transition: opacity 0.3s 300ms;
}

.custom-tooltip:after:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(0,0,0,0.8) transparent transparent transparent;
}

.custom-tooltip:hover:after {
  visibility: visible;
  opacity: 1;
}

.hint {
  opacity: 0.5;
  cursor: help;
}

.hint:hover {
  opacity: 1;
}