.username {
  line-height: 1.5em;
  font-size: 1em;
  font-weight: 300;
  align-items: center;
  display: inline-flex;
  &.offline {
    opacity: 0.5;
    font-style: italic;
  }

  i.offline {
    font-style: normal;
  }
}

.moderator {
  .username {
    // cursor: default;

    // &:after {
    //   content: "[ ]";
    //   visibility: hidden;
    // }

    // .eligible, .invited, .confirmed {
    //   cursor: pointer;
    //   &:after {
    //     margin-left: 0.3em;
    //     visibility: visible;
    //   }
    // }

    // .invited:after, .confirmed:after {
    //   content: "[-]";
    // }

    // .eligible:after {
    //   content: "[+]";
    // }
  }
}
