.widget-bg {
  padding: 1px 1px 2px 2px;
  clip-path: polygon(0 0, calc(100% - #{$bezel}) 0, 100% $bezel, 100% 100%, $bezel 100%, 0 calc(100% - #{$bezel}));
  height: 100%;
}

.initializing .widget-bg {
  opacity: 0;
}

.widget {
  position: relative;
  display: flex;
  background: linear-gradient(154.9deg, rgba(0, 0, 0, 0.55) 0%, rgba(0, 0, 0, 0.8) 86.37%);
  height: 100%;
  min-height: 100px;
  max-height: 90vh;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.4);
  clip-path: polygon(0 0, calc(100% - #{$bezel}) 0, 100% $bezel, 100% 100%, $bezel 100%, 0 calc(100% - #{$bezel}));
  flex-direction: column;
  .header {
    clip-path: polygon(0 0, 100% 0, calc(100% - #{$bezel}) 100%, 0 100%);
    width: fit-content;
    padding: 0 5em 0.1em 0.5em;
    line-height: 1.4em;
    opacity: 1;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1em;
    margin: 0;
    z-index: 10;
    position: absolute;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .widget-content {
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-grow: 1;
  }
  .widget-body {
    overflow: scroll;
    flex-grow: 1;
    flex-basis: 0;
    padding-left: $bezel;
    padding-right: $bezel;
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    transition: filter 0.3s ease-out;
  }

  .widget-body:nth-child(2) {
    border-left-style: solid;
    border-left-width: 0.5px;
  }

  .widget-body.loading {
    filter: blur(3px);
  }
}

.widget-controls {
  min-height: 4em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5em 1.5em;
  background: linear-gradient(30deg, rgba(0,0,0,0.3), rgba(0,0,0,0.5));
  border-top-style: solid;
  border-top-width: 0.5px;

  input, textarea {
    position: relative;
    background-color: transparent;
    font-weight: 200;
    line-height: 1.7em;
  }
  
  input:focus, textarea:focus {
    box-shadow: none !important;
    background-color: transparent;
  }
}